<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" async src="https://example.com/MathJax.js?config=TeX-AMS_CHTML"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% for topic in site.topics %}
                    <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="container">

        {{ content }}

        </div>
        <footer>
            <ul>
                <li><a>version 0.14</a></li>
                <li><a href="https://github.com/pdx-quantum">github.com/pdx-quantum</a></li>
            </ul>
        </footer>
    </body>
</html>
