---
layout: default
---
<h1>{{ page.title }}</h1>

<div class="blurb">
    {{ content }}
</div>

<ul>
    {% for entry in site.bibentries
      | where_exp:"entry", "entry.path contains page.name"
      | where_exp:"entry", "entry.abbrev && entry.title && entry.author && entry.year" %}
        <li><span class="reference">
            <b>[{{ entry.abbrev }}]</b>
            "{{ entry.title }}."
            {{ entry.author }}.
            {% if entry.wherepublished %}In {{ entry.wherepublished }}.{% endif %}
            {{ entry.year }}.
            {% if entry.pdf %}[<a href="{{ entry.pdf }}">pdf</a>]{% endif %}
            {% if entry.bibtex %}[<a href="{{ entry.bibtex }}">bibtex</a>]{% endif %}
            {% if entry.arxiv %}[<a href="{{ entry.arxiv }}">arxiv</a>]{% endif %}
            [<a href="{{ entry.url }}">annotation</a>]
        </span></li>
    {% endfor %}
</ul>
